<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNeJSsJC0iUU4lX5-iIG3t_W2JuZfp82s</string>
	<key>GCM_SENDER_ID</key>
	<string>591851412977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.entrepreneurAmuba.id.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>amuba-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>amuba-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591851412977:ios:0f1bd7904f7925428bf850</string>
</dict>
</plist>